<% if action == :edit %>
  <% action_url = user_url(user) %>
<% else %>
  <% action_url = user_url %>
<% end %>

<form action="<%= action_url %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]" value="<%= user.username %>">

  <input type="submit" value="<%= (action == :edit) ? 'Update user' : 'add user' %>">
</form>
