<h1>Edit a user</h1>


<%= render 'form', user: @user, action: :edit %>


 <% 
=begin %>


<%# action: url to which we want to send data %>
<%# method: http method that we want to use %>
<form action="<%= user_url(@user) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]" value="<%= @user.username %>">

  <input type="submit" value="Update user">
</form>

<% 
=end %>